.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 50;
}

.nav-up {
  width: 100%;
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.4rem 0;
}

.nav-up-left {
  display: flex;
  align-items: flex-end;
  width: 20%;
  justify-content: space-around;
  margin-left: 1rem;
}

.nav-up-links {
  font-size: 14px;
  color: var(--color2);
  font-family: var(--font1);
}

.nav-up-links:hover {
  color: #AFB0B0;
}

.nav-up-right a img {
  width: 17px;
}

.nav-up-right {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-right: 1rem;
  width: 7%;
  justify-content: space-between;
}

.nav-up-right img:hover {
  cursor: pointer;
  animation: shake 0.5s;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-bar ul :nth-child(5) {
  padding-right: 0;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 0px 16px;
  /* text-align: center; */
  position: relative;
}

.menu-bar ul li a {
  font-size: 10px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}
.menu-bar{
  display: none;
}
.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 80%;
  z-index: 100;
  background-color: var(--color-black);
  width: 120%;
  color: #262626;
}
.nav-lg{
  display: flex;
  width: 82%;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  padding-right: 0rem;
  gap: 2rem;
}
.himalyan-logo{
  width: 140px;
}
.nav-icos{
  width: 50px;
}
.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
  background-color: #d7d7d7;
  padding-left: 0.3rem;
  width: 100%;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 180px;
  padding: 10px;
  padding-left: 0.6rem;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 170px;
  top: -0.60rem;
  background-color: var(--color-black);
}

.dropdown-menu ul li:hover .dropdown-menu-1 ul {
  background-color: #898989;
  width: 15rem;
  color: white;
}

.dropdown-menu ul li:hover .dropdown-menu-1 ul li {
  width: 100%;
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  50% {
    transform: translate(-1px, -2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

.nav-down {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 0.2rem 0;
}

.nav-down-links {
  font-size: 16px;
  font-family: var(--font1);
  color: var(--color1);
}

.home-icon {
  background-color: #DD2B1C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu {
  display: none;
}

.hamburger-react {
  color: #262626;
}

.header {
  width: 100%;
  position: relative;
  display: flex;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
}

.nav-items {
  width: 36%;
}

.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-navs {
  font-size: 16px;
  font-family: var(--font1);
  color: var(--color1)
}

.active-navline {
  border-bottom: 1px solid #ffffff;
  width: 80%;
  display: block;
  transition: all 400ms ease;
}

.active-navs > .active-navline {
  display: block;
  transition: all 400ms ease;
  border-bottom: 1px solid #dd2b1c;
  margin-left: 2px;
}

.icos {
  display: flex;
  width: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav-down-icos img {
  border-radius: 50%;
  width: 20px;
}

.home-line {
  width: 33%;
  background-color: #dd2b1c;
  height: 3px;
}

.home-icon {
  display: flex;
  flex-direction: column;
}

.home-icon img:nth-child(1) {
  margin-top: 1rem;
  width: 27px;
  /* mix-blend-mode: multiply; */
}

.home-icon img:nth-child(2) {
  width: 38px;
  padding-top: 10px;

}

.nav-up-links.active {
  color: #dd2b1b;
  font-size: 10px;
  font-family: 'TelegrafBold', sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 950px) {
  .nav-up-right {
    margin-right: 0.4rem;
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }

  .nav-up-left {
    width: 100%;
    justify-content: space-around;
    margin: 0;
    gap: 0.5rem;
    padding: 0 1rem;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  .nav-up-links{
    font-size: 8px;
  }

  .nav-down-links {
    font-size: 18px;
    color: white;
  }

  .menu {
    display: flex;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    z-index: 1000;
    position: absolute;
    right: 1rem;
  }
  

  .header-wrapper .nav-items ul {
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 0vh;
    background: black;
    top: 0;
    left: 0;
    justify-content: start;
    overflow: hidden;
  }

  .header-wrapper.active .nav-items ul {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: all 400ms ease;
    align-items: center;
  }

  .header-wrapper.active .header-nav-lines {
    display: inline;
    width: 50%;
    height: 0px;
    background-color: #919191;
    background: #919191;
    border: 0.2px solid #919191;
    margin-left: 25%;
    margin-right: 25%;
    transition: all 400ms ease;
  }

  .header-wrapper.active .header-nav-line {
    display: inline;
    width: 100%;
    height: 0px;
    background-color: #919191;
    background: #919191;
    border: 0.5px solid #919191;
    padding-left: 0;
    padding-bottom: 0;
    transition: all 400ms ease;
  }

  .header-wrapper.active .menu {
    position: relative;
    transition: all 400ms ease;
    right: 1rem;
    position: absolute;
  }

  .nav-items ul {
    gap: 2rem;
  }

  .header-wrapper {
    padding: 0;
  }
  .nav-up-right a img{
    width: 16px;
  }
  .menu-bar{
    display: block;
    width: 100%;
  }
  .nav-up-left{
    display: none;
  }
  .nav-lg{
    padding-right: 0;
    margin-left: 1rem;
  }
  .nav-down{
    padding: 0.5rem 0;
  }
}

.menu-bar ul li:hover .dropdown-menu ul li:hover{
  background-color: #898989;
  width: 100%;
  margin-left: 0;
}

@media screen and (max-width: 1150px){
  .header-wrapper{
    padding: 0 2rem;
  }
}
@media screen and (max-width: 950px){
  .header-wrapper{
    padding: 0 1rem;
  }
}
/* @media screen and (max-width: 950px){
  .header-wrapper{
    padding: 0 1rem;
  }
} */