.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0;
  background-color: white;
}
.nav-up {
  width: 100%;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0.8rem 0;
}
.nav-up-left {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
  margin-left: 5rem;
}
.nav-up-links {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.nav-up-links:hover {
  color: #AFB0B0;
}
.nav-up-right a img{
  width: 20px;
}
.nav-up-right {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-right: 5rem;
  width: 8%;
  justify-content: space-between;
}
.nav-up-right img:hover {
  cursor: pointer;
  animation: shake 0.5s;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}
.nav-down {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
}
.nav-down-links {
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.home-icon {
  background-color: #DD2B1C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.menu {
  display: none;
}
.hamburger-react {
  color: #262626;
}
.header {
  width: 100%;
  position: relative;
  display: flex;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  width: 100%;
}
.nav-items {
  width: 80%;
}
.nav-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.active-navs{
  /* text-decoration: underline; */
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.active-navline{
  border-bottom: 3px solid #ffffff;
  width: 33%;
  display: block;
  transition: all 400ms ease;
}
.active-navs > .active-navline{
  display: block;
  transition: all 400ms ease;
  border-bottom: 3px solid #dd2b1c;
}
.icos{
  display: flex;
  width: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
}
.nav-down-icos img{
  border-radius: 50%;
}
.nav-icos{
  margin-right: 18rem;
}
.home-line{
  width: 33%;
  background-color: #dd2b1c;
  height: 3px;
}
.home-icon{
  display: flex;
  flex-direction: column;
}
.home-icon img:nth-child(1){
  margin-top: 1rem;
}
.home-icon img:nth-child(2){
  width: 38px;
  padding-top: 10px;

}
@media screen and (max-width: 400px) {
  .header-logo img {
    width: 6rem;
    height: 3rem;
  }
  .nav-up-right {
    margin-right: 0.4rem;
  }
  .nav-up-left {
    width: 70%;
    justify-content: space-around;
    margin: 0;
    gap: 0.2rem;
    flex-wrap: wrap;
  }
  .nav-down-links {
    font-size: 18px;
    color: white;
  }
  .menu {
    display: flex;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: end;
    z-index: 1000;
  }
  .header-wrapper .nav-items ul {
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 0vh;
    background: black;
    top: 0;
    left: 0;
    justify-content: start;
    overflow: hidden;
  }

  .header-wrapper.active .nav-items ul {
    display: flex;
    flex-direction: column;
    padding-top: 8vh;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: all 400ms ease;
    align-items: center;
  }
  .header-wrapper.active .header-nav-lines {
    display: inline;
    width: 50%;
    height: 0px;
    background-color: #919191;
    background: #919191;
    border: 0.2px solid #919191;
    margin-left: 25%;
    margin-right: 25%;
    transition: all 400ms ease;
  }

  .header-wrapper.active .header-nav-line {
    display: inline;
    width: 100%;
    height: 0px;
    background-color: #919191;
    background: #919191;
    border: 0.5px solid #919191;
    padding-left: 0;
    padding-bottom: 0;
    transition: all 400ms ease;
  }
  .header-wrapper.active .menu {
    position: relative;
    transition: all 400ms ease;
  }
  .nav-items ul {
    gap: 2rem;
  }
  .header-wrapper {
    padding: 0;
  }
}
