/* .slick-track{
    display: flex;
    gap: 3rem;
} */
.slick-slide img {
    display: block;
    padding: 1.3rem;
}
.slick-prev, .slick-next{
    width: 60px !important;
    height: 60px !important;
}
.slick-prev {
    left: -70px !important;
}
.slick-next {
    right: -70px !important;
}

@media screen and (max-width:640px) {
    .slick-prev, .slick-next{
        width: 25px !important;
    }
    .slick-prev {
        left: -10px !important;
    }
    .slick-next {
        right: -10px !important;
    }
    
}