.achievements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.achievements-body{
    width: 90%;
}
.ach-head{
    color: #898989;
    font-size: 35px;
    font-weight: 700;
    font-family: TelegrafBold;
}
.achievement-container{
    display: flex;
    flex-direction: column;
}
.ach-cont-1, .ach-cont-2{
    display: flex;
}
.ach-cont-1 .achievement, .ach-cont-2 .achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.achievement h3{
    font-size: 30px;
    color: #e31e24;
    font-family: TelegrafRegular;
}
.achievement p{
    font-size: 12px;
    text-align: center;
    font-family: TelegrafRegular;
}
.ach-cont-1 .achievement:first-of-type,
.ach-cont-1 .achievement:nth-of-type(2),
.ach-cont-1 .achievement:nth-of-type(3),
.ach-cont-1 .achievement:nth-of-type(4) {
  border-bottom: 2px solid #e6e6e6;
}
.ach-cont-1 .achievement:nth-of-type(2),
.ach-cont-1 .achievement:nth-of-type(3){
    border-right: 2px solid #e6e6e6;
}
.ach-cont-1 .achievement:nth-of-type(2){
    border-left: 2px solid #e6e6e6;
}
.ach-cont-2 .achievement:nth-of-type(2),
.ach-cont-2 .achievement:nth-of-type(3){
    border-right: 2px solid #e6e6e6;
}
.ach-cont-2 .achievement:nth-of-type(2){
    border-left: 2px solid #e6e6e6;
}
.achievement p{
    width: 78%;
}
/* .refimg{
    width: 200px;
    height: 100px;
} */
.reflogos{
    width: 120px;
}