.contact-s1{
    margin-top: 8.7rem;
    background-color: #000;
}
.s1text{
    color: #fefefe;
}
.contact-s2{
    background-color: #000;
}
.contact-s2 span{
    color: #fefefe;
}
.con-cards div{
    width: 48%;
}
.contact-s2 span:nth-child(1){
    color: #b2b3b3;
}
.con-cards h6{
    color: #fefefe;
}
.con-cards p{
    color: #b2b3b3;
}