/* background image from unsplash */
.history {
    background-image: url("./Assets/Images/bgmain.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}