/* background image from unsplash */
.history{
    margin-top: 8.1rem;
    background-image: url("https://source.unsplash.com/random/1920x1080");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}