.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 3rem;
}
.about-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.about-head{
    font-size: 50px;
    color: #dd2b1c;
    line-height: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 50px;
}
.about-desc{
    font-size: 16px;
}
.about-desc a{
    color:red;
}
.about-desc span{
    font-weight: 700;
}
.about-sub-head{
    color: #6e6e6e;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
}
.about-sub-head span{
    font-weight: 400;
    font-size: 35px;
}
.div-3{
    display: flex;
    justify-content: space-between;
}
.div-3 div{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-sub-desc{
    text-align: center;
    font-size: 12px;
}
.div-2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}