.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    flex-wrap: wrap;
}
/* .about-1{
    display: flex;
} */
.about-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 4rem;
}
.about-head{
    font-size: 50px;
    color: #E23424;
    line-height: 4rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 50px;
    font-family: TelegrafBold;
}
.about-desc{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.about-desc a{
    color:#E23424;
    font-family: TelegrafBold;
}
.about-desc span{
    font-weight: 700;
}
.about-sub-head{
    color: #6e6e6e;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    font-family: TelegrafBold;
}
.about-sub-head span{
    font-weight: 400;
    font-size: 40px;
    font-family: TelegrafRegular;
}
.div-3{
    display: flex;
    justify-content: space-between;
}
.div-3 div{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-sub-desc{
    text-align: center;
    font-size: 12px;
}
.div-2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.banner{
    position: relative;
    /* background: url(./Assets/asset1.png); */
}
.banner-in{
    position: absolute;
    font-family: TelegrafRegular;
    top: 1rem;
}
.banner-in span:nth-child(2),
.banner-in span:nth-child(5),
.banner-in span:nth-child(6){
    font-family: TelegrafBold;
}
.banner-in span:nth-child(7){
    font-size: 26px;
}
.banner-in span:nth-child(6){
    font-size: 19px;
}
.banner-in1, .banner-in2, .banner-in3{
    position: absolute;
    font-family: TelegrafRegular;
    top: 1rem;
}
.banner-in1 span:nth-child(2){
    font-size: 19px;
}
.banner-in1 span:nth-child(3),
.banner-in1 span:nth-child(6){
    font-size: 13px;
}
.banner-in1 span:nth-child(5),
.banner-in2 span:nth-child(5),
.banner-in2 span:nth-child(2){
    font-family: TelegrafBold;
}
.banner-in2 span:nth-child(2){
    font-size: 17px;
}
.banner-in1 span:nth-child(7){
    font-size: 44px;
    font-family: TelegrafLight;
}
.banner-in2 span:nth-child(3){
    font-size: 12.5px;
}
.banner-in2 span:nth-child(6){
    font-size: 9px;
}
.banner-in2 span:nth-child(7){
    font-family: TelegrafBold;
    font-size: 21px;
}
.banner-in2 span:nth-child(9){
    font-size: 14.5px;
}
.banner-in3 span:nth-child(4){
    font-size: 10.5px;
}
.banner-in3 span:nth-child(6){
    font-size: 22px;
}
.banner-in3 span:nth-child(3){ 
    font-size: 12.8px;
}
.banner-in3 span:nth-child(5){
    font-size: 12.5px;
}
.banner-in3 span:nth-child(4){
    font-size: 11px;
}
.banner-in3 span:nth-child(7),
.banner-in3 span:nth-child(8),
.banner-in3 span:nth-child(9){
    font-family: TelegrafBold;
}
.banner-in3 span:nth-child(7){
    font-size: 14.5px;
}
.banner-in3 span:nth-child(8){
    font-size: 22.5px;
}
.banner-in3 span:nth-child(9){
    font-size: 19.5px;
}
.div-2 h3{
    background-color: #CC3300;
    font-family: TelegrafBold;
}
.div-2{
    width: 90%;
}
.div-2 h4{
    color: #808080;
}
.about-right{
    width: 45%;
}

@media screen and (max-width: 640px) {
    .about-left{
        margin: 0;
        width: 90%;
    }
    .about-head{
        font-size: 32px;
        line-height: 30px;
    }
    .about-desc{
        font-size: 14px;
    }
    .about-sub-head{
        font-size: 30px;
        line-height: 30px;
    }
    .about-sub-head span{
        font-size: 22px;
    }
    .div-2{
        gap: 0.5rem;
    }
    .div-2{
        width: 100%;
    }
    .about-left{
        gap: 0;
    }
}