.landing-image {
  /* margin-top: 5.6rem; */
  width: 90%;
  height: 100vh;
  background: url("./Assets/landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 4.7rem;
}
.ha-landing .slick-slide img {
  padding: 0 3.8rem;
}
/* .ha-landing .slick-dots {
  display: block;
  rotate: 90deg;
  bottom: -5rem;
  left: 19rem;
} */
/* .ha-landing .slick-dots li button:before {
  font-size: 16px;
} */
.ha-landing .slick-active .active-dot {
  background-color: var(--color3);
}
@media screen and (max-width: 400px) {
  .landing-image {
    margin-top: 6rem;
  }
}
