.landing-image {
  /* margin-top: 5.6rem; */
  width: 90%;
  height: 100vh;
  background: url("./Assets/landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 4.7rem;
}
@media screen and (max-width: 400px) {
  .landing-image {
    margin-top: 6rem;
  }
}
