.projs-landing{
    margin-top: 8.7rem;
    height: 100vh;
    /* random background image from the internet */
    background-image: url("./Assets/landing.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    padding: 3rem 48rem 0rem 6rem;
    gap: 2rem;
}
.projs-head{
    font-size: 100px;
    line-height: 80px;
    color: white;
    font-family: TelegrafRegular;
}
.projs-head span{
    font-family: TelegrafBold;
}
.projs-landing p{
    font-size: 14px;
    color: white;
    text-align: justify;
}
.projs-cars{
    background-color: #000;
    padding: 0 8rem;
    padding-top: 2rem;
}
.proj-1 h2{
    color: #afb0b0;
    font-size: 35px;
    font-weight: 800;
    line-height: 15px;
}
.proj-1{
    margin-top: 1rem;
}