.certifications{
    display: flex;
    align-items: center;
    justify-content: center;

}
#certifications-body{
    width: 87% !important;
}
.certi-head{
    color: #818281;
    font-size: 35px;
    font-weight: 700;
}
.certi-name{
    text-align: center;
    font-size: 16px;
    font-family: TelegrafBold;
    font-weight: 700;
}